################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/QRisk3.API/obj
/QRisk3.API.Tests/bin/Debug/net8.0
/QRisk3.API.Tests/obj
/QRisk3.Engine.Tests/bin
/QRisk3.Engine.Tests/obj
/_SUPPLIED/BatchProcessor/obj
/_SUPPLIED/Engine/.vs/QRISK3-EH
/_SUPPLIED/Engine/bin/Debug
/_SUPPLIED/Engine/obj
/QRisk3.Engine.OnlineTests/bin/Debug/net8.0
/QRisk3.Engine.OnlineTests/obj
/EP_QRisk3/bin/Debug/net6.0
/EP_QRisk3/obj
